# Ignore node modules
node_modules

# Ignore direnv directory
.direnv

# Ignore NPM log directory
.log

# Local MongoDB data
db-data/

# Page deployment
.packages/
docs/

# Various files we don't want
test.txt
*.rest
*.bak
