.app {
  max-width: 800px;
  margin: 0 auto;
}

.app__header {
  text-align: center;
  color: rebeccapurple;
  font-size: 4em;
  animation: 2s pulse infinite;
}

.app__content {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

@keyframes pulse {
  0% {
    transform: rotate(-10deg)
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
